<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Checkbox Test</h2>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="checked"
        >Display Task List</mat-checkbox
      >
    </section>
  </mat-card-content>
  <mat-card-content *ngIf="checked">
    <h2 class="example-h2">Today's Tasks:</h2>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let task of taskListArray">
        {{ task.task }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
